<md-toolbar>
    <div class="md-toolbar-tools">
        <span flex></span>
        <md-menu>
            <md-button class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
                <md-icon class="material-icons">more_vert</md-icon>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button href="/admin/change-password">
                        <md-icon class="material-icons" md-menu-align-target>lock</md-icon>
                        {{ 'USER.CHANGE_PASSWORD' | translate }}
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="vm.logout()">
                        <md-icon class="material-icons" md-menu-align-target>exit_to_app</md-icon>
                        {{ 'ACTION.LOGOUT' | translate }}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
