.auth-page .background-bar {
    min-height: 250px;
}

.auth-page .logo {
    color: #fff;
    display: block;
    font-size: 27px;
    letter-spacing: 1px;
    margin: 0 auto;
    position: relative;
    text-transform: uppercase;
    top: 30px;
    z-index: 1;
    text-align: center;
}

.auth-page .logo .bigger {
    font-size: 50px;
    font-weight:bold;
    position: relative;
    top: 6px;
}

.auth-page .auth-component {
    background-color: #ffffff;
    padding: 3rem 3rem 1rem;
    position: relative;
    top: -120px;
    z-index: 2;
}

.auth-page .auth-component .header {
    min-height: 120px;
    text-align: center;
}

.auth-page .auth-component .header-icon .icon{
    font-size: 100px;
    color: rgb(63, 81, 181);
}

.auth-page .auth-component .header-text {
    text-transform: uppercase;
}

.auth-page .auth-component .md-button.small {
    width: 30%;
    line-height: 20px;
    min-height: 20px;
    vertical-align: top;
    font-size: 12px;
    padding: 2px 0;
    margin-bottom: 0;
    margin-top: 0;
}

.admin-container {
    min-height: 100vh;
}

.admin-content-wrapper {
    background-color: #e9e9e9;
}

.admin-content {
    background-color: #ffffff;
    min-height: 90vh;
}

.admin-menu {
    min-height: 100vh;
}

.admin-menu .menu-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.admin-menu .logo {
    color: #fff;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0 auto;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    bottom: 2px;
}

.admin-menu .logo .bigger {
    font-size: 43px;
    font-weight:bold;
    position: relative;
    top: 7px;
}

.admin-menu .menu-body {
    background-color: rgb(63, 81, 181);
}

.admin-menu .menu-body > ul {
    margin: 0;
    padding: 0;
}

.admin-menu .menu-body .menu-icon {
    margin-left: 7%;
}

.admin-menu .menu-body .menu-text {
    margin-left: 10%;
}

.admin-menu .menu-body > ul > li > .menu-button {
    box-shadow: none;
    width: 100%;
    margin: 0;
    padding: 7px 0;
    text-align: left;
    border-radius: 0;

}

.admin-menu .menu-body > ul > li > .menu-button:active {
    box-shadow: none;
}
