.ng-view {
    min-heigth: 100%;
}

.auth-page .background-bar {
    min-height: 250px;
}

.auth-page .logo {
    color: #fff;
    display: block;
    font-size: 27px;
    letter-spacing: 1px;
    margin: 0 auto;
    position: relative;
    text-transform: uppercase;
    top: 30px;
    z-index: 1;
    text-align: center;
}

.auth-page .logo .bigger {
    font-size: 50px;
    font-weight:bold;
    position: relative;
    top: 6px;
}

.auth-page .auth-component {
    background-color: #ffffff;
    padding: 3rem 3rem;
    position: relative;
    top: -120px;
    z-index: 2;
}

.auth-page .auth-component .header {
    min-height: 120px;
    text-align: center;
}

.auth-page .auth-component .header-icon .icon {
    font-size: 100px;
    color: rgb(63, 81, 181);
}

.auth-page .auth-component .header-text {
    text-transform: uppercase;
}

.auth-page .auth-component .md-button.small {
    width: 30%;
    line-height: 20px;
    min-height: 20px;
    vertical-align: top;
    font-size: 12px;
    padding: 2px 0;
    margin-bottom: 0;
    margin-top: 0;
}

.admin-content-wrapper {
    background-color: #e9e9e9;
}

.admin-content {
    background-color: #ffffff;
    padding: 50px;
}
.admin-content .content-header {
    margin-top: -30px;
}

.admin-content .content-header h3 {
    color: #9e9e9e;
    font-weight: 200;
}

.admin-content .content-header .header-button {
    margin-top: 10px;
}

.admin-content .content-header .md-fab {
    margin-top: 10px;
}

.admin-content .content-form {
    margin-top: 10px;
}

.admin-content .content-form .form-actions {
    margin-top: 30px;
}

.admin-content .table-container {
    margin-top: 30px;
}

.admin-content .table-container table tbody tr {
    margin-top: 30px;
    cursor: pointer;
}

.admin-content .md-table-toolbar {
    background: #e3f2fd;
    padding: 0px;
    color: #1e88e5;
}

.admin-content .md-table-toolbar .md-toolbar-tools {
    font-size: 16px;
}

.admin-content .zero-data {
    text-align: center !important;
    font-size: 16px !important;
    cursor: text;
}

.autocomplete-theme-template li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
}

.autocomplete-theme-template li:last-child {
    border-bottom-width: 0;
}

.autocomplete-theme-template .item-title {
    display: block;
    line-height: 2;
}

.autocomplete-theme-template .item-title .md-icon {
    height: 18px;
    width: 18px;
}

.autocomplete-theme-template .item-title .highlight {
    color: rgb(255,64,129);
    font-weight: 700;
}

.options-container .radio-group-rows {
    border: 1px #e9e9e9 dashed;
}

.options-container .radio-group-rows .radio-group-row {
    border-bottom: 1px #e9e9e9 dashed;
}

.options-container .row-container:last-child {
    border-bottom: none;
}

.options-container .md-checked {
    background-color: #DFFFDB;
}

.admin-menu {
    height: 100%;
}

.admin-menu .menu-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.admin-menu .logo {
    color: #fff;
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0 auto;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    bottom: 2px;
}

.admin-menu .logo .bigger {
    font-size: 43px;
    font-weight:bold;
    position: relative;
    top: 7px;
}

.admin-menu .menu-body {
    background-color: rgb(63, 81, 181);
}

.admin-menu .menu-body > ul {
    margin: 0;
    padding: 0;
}

.admin-menu .menu-body .menu-icon {
    margin-left: 7%;
}

.admin-menu .menu-body .menu-text {
    margin-left: 10%;
}

.admin-menu .menu-body > ul > li > .menu-button {
    box-shadow: none;
    width: 100%;
    margin: 0;
    padding: 7px 0;
    text-align: left;
    border-radius: 0;

}

.admin-menu .menu-body > ul > li > .menu-button:active {
    box-shadow: none;
}

.form-container {
    margin-left: auto; 
    margin-right: auto;
}
