<!DOCTYPE html>
<html lang="pt-br" ng-app="hercules" ng-strict-di>
    <head>
        <base href="/" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Hercules</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" />
    </head>
    <body layout="row" ng-cloak>
        <div ng-view layout="row" flex></div>
    </body>
</html>
