<hc-admin-layout layout="row" flex>

    <div layout="row" class="content-header">
        <div flex="90">
            <h3 class="md-headline">
                Provas
            </h3>
        </div>
        <div flex>
            <md-button class="header-button" href="/admin/tests">
                Voltar
            </md-button>
        </div>
    </div>

    <form layout="row" class="content-form" name="testDetailForm">

        <div layout="column" flex="70" class="form-container" layout-fill>

            <md-input-container class="md-block">
                <label>Nome</label>
                <input type="text" name="name" ng-model="entity.name" required ng-minlength="2" ng-maxlength="255" placeholder="Nome da prova" ng-disabled="true" />
                <div ng-messages="testDetailForm.name.$error">
                    <div ng-message="required">Este campo é obrigatório.</div>
                    <div ng-message="minlength">Este campo deve ter ao menos 2 caracteres.</div>
                    <div ng-message="maxlength">Este campo deve ter no máximo 255 caracteres.</div>
                </div>
            </md-input-container>

            <div layout="row">
                <md-input-container class="md-block" flex>
                    <label>Disciplina</label>
                    <md-select ng-model="entity.discipline" name="discipline" required ng-disabled="true">
                        <md-option ng-value=""><em>Selecione uma opção</em></md-option>
                        <md-option ng-value="entity.discipline" ng-repeat="discipline in disciplines track by discipline._id">
                            {{::discipline.name}} {{::discipline.year}}/{{::discipline.semester}}
                        </md-option>
                    </md-select>
                    <div ng-messages="testDetailForm.discipline.$error">
                        <div ng-message="required">Este campo é obrigatório.</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Data de início</label>
                    <input type="text" ng-model="entity.beginDate" ng-disabled="true" />
                </md-input-container>
                <md-input-container flex>
                    <label>Data de fim</label>
                    <input type="text" ng-model="entity.endDate" ng-disabled="true" />
                </md-input-container>
            </div>

            <md-input-container class="md-block">
                <label>Conteúdos</label>
                <md-select ng-model="entity.themes" multiple data-md-container-class="select-search" required name="selectedThemes" md-on-close="getQuestions(entity.themes)" ng-disabled="true">
                    <md-select-header class="select-header">
                        <input ng-model="themeSearchTerm" ng-keydown="$event.stopPropagation()" type="search" placeholder="Procure por conteúdos" class="select-header-searchbox _md-text" />
                    </md-select-header>
                    <md-option ng-value="theme._id" ng-repeat="theme in themes | filter:themeSearchTerm track by theme._id">
                        {{theme.name}}
                    </md-option>
                </md-select>
                <div ng-messages="testDetailForm.selectedThemes.$error">
                    <div ng-message="required">Este campo é obrigatório.</div>
                </div>
            </md-input-container>

            <md-content>
                <md-list flex>
                    <md-list-item ng-repeat="question in questions track by question._id">
                        <md-checkbox ng-disabled="true" ng-checked="entity.questions.indexOf(question._id) > -1" ng-click="toggleQuestion(question._id, entity.questions)"></md-checkbox>
                        <p>{{::question.name | ellipsis:50}}</p>
                        <md-icon class="md-secondary material-icons" ng-click="showQuestionInfo(question)" aria-label="Question detail">message</md-icon>
                    </md-list-item>
                </md-list>
            </md-content>

            <div layout="center center" layout-padding layout-margin>
                <div layout="row" flex>
                    <md-button href="/admin/tests" class="md-raised" flex="30" flex-offset="20">
                        <md-icon class="material-icons">arrow_back</md-icon>
                        Voltar
                    </md-button>
                    <md-button ng-click="delete(entity, $event)" class="md-raised md-warn" flex="30" ng-disabled="testDetailForm.$invalid || processing">
                        <md-icon class="material-icons">delete_forever</md-icon>
                        Excluir
                    </md-button>
                </div>
            </div>

        </div>
    </form>

</hc-admin-layout>

