<hc-admin-layout layout="row" flex>

    <div layout="row" class="content-header">
        <div flex="95">
            <h3 class="md-headline">
                Provas
            </h3>
        </div>
        <div flex>
            <md-button class="md-fab md-primary" href="/admin/tests">
                <md-tooltip md-direction="left">
                    Retornar
                </md-tooltip>
                <md-icon class="material-icons">arrow_back</md-icon>
            </md-button>
        </div>
    </div>

    <form layout="row" class="content-form" name="testNewForm" ng-submit="vm.save(vm.entity)">

        <div layout="column" flex="70" class="form-container" layout-fill>

            <md-input-container class="md-block">
                <label>Nome</label>
                <input type="text" name="name" ng-model="vm.entity.name" required ng-minlength="2" ng-maxlength="255" placeholder="Nome da prova" />
                <div ng-messages="testNewForm.name.$error">
                    <div ng-message="required">Este campo é obrigatório.</div>
                    <div ng-message="minlength">Este campo deve ter ao menos 2 caracteres.</div>
                    <div ng-message="maxlength">Este campo deve ter no máximo 255 caracteres.</div>
                </div>
            </md-input-container>

            <div layout="row">
                <md-input-container class="md-block" flex>
                    <label>Disciplina</label>
                    <md-select ng-model="vm.entity.discipline" name="discipline" required>
                        <md-option ng-value=""><em>Selecione uma opção</em></md-option>
                        <md-option ng-value="discipline._id" ng-repeat="discipline in vm.disciplines track by discipline._id">
                            {{::discipline.name}} {{::discipline.year}}/{{::discipline.semester}}
                        </md-option>
                    </md-select>
                    <div ng-messages="testNewForm.discipline.$error">
                        <div ng-message="required">Este campo é obrigatório.</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Data de início</label>
                    <input type="text" ng-model="vm.entity.beginDate" />
                </md-input-container>
                <md-input-container flex>
                    <label>Data de fim</label>
                    <input type="text" ng-model="vm.entity.endDate" />
                </md-input-container>
            </div>

            <md-input-container class="md-block">
                <label>Conteúdos</label>
                <md-select ng-model="vm.entity.themes" multiple data-md-container-class="select-search" required name="selectedThemes" md-on-close="vm.getQuestions(vm.entity.themes)">
                    <md-select-header class="select-header">
                        <input ng-model="themeSearchTerm" ng-keydown="$event.stopPropagation()" type="search" placeholder="Procure por conteúdos" class="select-header-searchbox _md-text" />
                    </md-select-header>
                    <md-option ng-value="theme._id" ng-repeat="theme in vm.themes | filter:themeSearchTerm track by theme._id">
                        {{theme.name}}
                    </md-option>
                </md-select>
                <div ng-messages="testNewForm.selectedThemes.$error">
                    <div ng-message="required">Este campo é obrigatório.</div>
                </div>
            </md-input-container>

            <md-content ng-show="vm.questions.length > 0">
                <md-list flex>
                    <md-list-item ng-repeat="question in vm.questions track by question._id">
                        <md-checkbox ng-click="vm.toggleQuestion(question._id, vm.entity.questions)"></md-checkbox>
                        <p>{{::question.name | ellipsis:50}}</p>
                        <md-icon class="md-secondary material-icons" ng-click="vm.showQuestionInfo(question, $event)" aria-label="info">info</md-icon>
                    </md-list-item>
                </md-list>
            </md-content>

            <div layout="center center" layout-padding layout-margin>
                <div layout="row" flex>
                    <md-button href="/admin/tests" class="md-warn md-raised" flex="30" flex-offset="20">
                        <md-icon class="material-icons">close</md-icon>
                        Cancelar
                    </md-button>
                    <md-button type="submit" class="md-raised md-primary" flex="30" ng-disabled="testNewForm.$invalid || vm.processing">
                        <md-icon class="material-icons">send</md-icon>
                        Cadastrar
                    </md-button>
                </div>
            </div>

        </div>
    </form>

</hc-admin-layout>
