<md-content layout="row" layout-align="center center" layout-fill layout-margin>
    <md-whiteframe layout="column" flex layout-fill class="md-whiteframe-z2" flex-lg="33">
        <md-toolbar class="md-primary" layout="column" layout-align="end" layout-fill>
            <div layout="row" class="md-toolbar-tools">
                <h3 class="md-display-1">Criar uma nova conta</h3>
            </div>
        </md-toolbar>
        <div layout="column" layout-fill layout-margin layout-padding>
            <form name="registrationForm" class="authComponent" layout="column" layout-fill layout-padding>
                <md-input-container class="md-icon-float md-block">
                    <label>Nome completo</label>
                    <md-icon class="material-icons">person</md-icon>
                    <input type="text" placeholder="Nome completo" ng-model="registration.name" name="name" aria-label="name" required ng-minlength="2" ng-maxlength="255"/>
                    <div ng-messages="registrationForm.name.$error">
                        <div ng-message="required">Este campo é obrigatório.</div>
                        <div ng-message="minlength">Este campo deve ter ao menos 2 caracteres.</div>
                        <div ng-message="maxlength">Este campo deve ter no máximo 255 caracteres.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Nome de usuário</label>
                    <md-icon class="material-icons">person</md-icon>
                    <input type="text" placeholder="Nome de usuário" ng-model="registration.username" name="username" aria-label="username" required ng-minlength="5" ng-maxlength="30" ng-pattern="/^[a-zA-Z0-9_-]*$/" />
                    <div ng-messages="registrationForm.username.$error">
                        <div ng-message="required">Este campo é obrigatório.</div>
                        <div ng-message="minlength">Este campo deve ter ao menos 5 caracteres.</div>
                        <div ng-message="maxlength">Este campo deve ter no máximo 30 caracteres.</div>
                        <div ng-message="pattern">Este campo deve conter apenas caracteres alfanuméricos, "_" e "-".</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>E-mail</label>
                    <md-icon class="material-icons">email</md-icon>
                    <input type="email" placeholder="E-mail" ng-model="registration.email" name="email" aria-label="email" required />
                    <div ng-messages="registrationForm.email.$error">
                        <div ng-message="required">Este campo é obrigatório.</div>
                        <div ng-message="email">Informe um endereço de e-mail válido.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Senha</label>
                    <md-icon class="material-icons">lock</md-icon>
                    <input type="password" placeholder="Senha" ng-model="registration.password" name="password" aria-label="password" required ng-minlength="6" />
                    <div ng-messages="registrationForm.password.$error">
                        <div ng-message="required">Este campo é obrigatório.</div>
                        <div ng-message="minlength">Este campo deve ter ao menos 6 caracteres.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Confirmar senha</label>
                    <md-icon class="material-icons">lock</md-icon>
                    <input type="password" placeholder="Senha" ng-model="registration.confirmPassword" name="confirmPassword" aria-label="confirmpassword" compare-to="registration.password" required />
                    <div ng-messages="registrationForm.confirmPassword.$error">
                        <div ng-message="required">Este campo é obrigatório.</div>
                        <div ng-message="compareTo">As senhas devem ser iguais.</div>
                    </div>
                </md-input-container>
                <div layout="row" layout-aling="center center">
                    <md-button class="md-raised md-primary" aria-label="register" flex="40" flex-offset="30" ng-disabled="registrationForm.$invalid">
                        <md-icon class="material-icons">send</md-icon>
                        Cadastrar
                    </md-button>
                </div>
                <div layout="row" layout-aling="center center">
                    <md-button href="/#/login" class="md-no-ink md-small md-primary" aria-label="register" flex-offset="30">
                        Fazer login
                    </md-button>
                </div>
            </form>
        </div>
    </md-whiteframe>
</md-content>
