<div layout="row" flex-gt-md="80" flex-offset-gt-md="20" class="admin-container">

    <hc-menu></hc-menu>

    <md-content flex>

        <div layout="column" layout-fill class="admin-content-wrapper">

            <hc-toolbar></hc-toolbar>

            <div layout="row">
                <md-whiteframe layout-padding flex="80" flex-offset="10" layout="column" class="md-whiteframe-z2 admin-content">
                    <div layout="row" class="content-header">
                        <div flex="90">
                            <h3 class="md-headline">
                                Conteúdos
                            </h3>
                        </div>
                        <div flex>
                            <md-button class="header-button" href="/admin/themes">
                                Voltar
                            </md-button>
                        </div>
                    </div>
                    <form layout="row" layout-fill class="content-form" name="themeUpdateForm" ng-submit="update(theme)">
                        <div flex="70" layout="column" flex-offset="15">

                            <md-input-container>
                                <label>Nome</label>
                                <input type="text" ng-model="theme.name" name="name" required ng-minlength="2" ng-maxlength="50">
                                <div ng-messages="themeUpdateForm.name.$error">
                                    <div ng-message="required">Este campo é obrigatório.</div>
                                    <div ng-message="minlength">Este campo é deve ter ao menos 2 caracteres.</div>
                                    <div ng-message="maxlength">Este campo é deve ter no máximo 50 caracteres.</div>
                                </div>
                            </md-input-container>

                            <div layout="row" layout-align="center center" class="form-actions">
                                <md-toolbar class="md-primary" md-theme="greyscale">
                                    <div class="md-toolbar-tools" layout-align="center center">
                                        <md-button href="/admin/themes" class="md-warn md-raised" md-theme="default" flex="30">
                                            <md-icon class="material-icons">close</md-icon>
                                            Cancelar
                                        </md-button>
                                        <md-button type="submit" class="md-raised md-primary" md-theme="default" flex="30" ng-disabled="themeUpdateForm.$invalid">
                                            <md-icon class="material-icons">send</md-icon>
                                            Salvar
                                        </md-button>
                                    </div>
                                </md-toolbar>
                            </div>

                        </div>
                    </form>

                </md-whiteframe>
            </div>

        </div>

    </md-content>

</div>
