<hc-admin-layout layout="row" flex>

    <div layout="row" class="content-header">
        <div flex="90">
            <h3 class="md-headline">
                Conteúdos
            </h3>
        </div>
        <div flex>
            <md-button class="header-button" href="/admin/themes">
                Voltar
            </md-button>
        </div>
    </div>

    <form layout="row" class="content-form" name="themeEditForm" ng-submit="vm.update(vm.entity)">

        <div layout="column" flex="70" class="form-container" layout-fill>

            <md-input-container>
                <label>Nome</label>
                <input type="text" ng-model="vm.entity.name" name="name" required ng-minlength="2" ng-maxlength="255">
                <div ng-messages="themeEditForm.name.$error">
                    <div ng-message="required">Este campo é obrigatório.</div>
                    <div ng-message="minlength">Este campo deve ter ao menos 2 caracteres.</div>
                    <div ng-message="maxlength">Este campo deve ter no máximo 255 caracteres.</div>
                </div>
            </md-input-container>

            <div layout="center center" layout-padding layout-margin>
                <div layout="row" flex>
                    <md-button href="/admin/themes" class="md-warn md-raised" flex="30" flex-offset="20">
                        <md-icon class="material-icons">close</md-icon>
                        Cancelar
                    </md-button>
                    <md-button type="submit" class="md-raised md-primary" flex="30" ng-disabled="ThemeEditForm.$invalid || vm.processing">
                        <md-icon class="material-icons">send</md-icon>
                        Atualizar
                    </md-button>
                </div>
            </div>

        </div>
    </form>

</hc-admin-layout>
