<hc-admin-layout layout="row" flex>

    <div layout="row" class="content-header">
        <div flex="95">
            <h3 class="md-headline">
                {{ 'TOKEN.ENTITY_PLURAL' | translate }}
            </h3>
        </div>
        <div flex>
            <md-button class="md-fab md-primary" href="/admin/tests">
                <md-tooltip md-direction="left">
                    {{ 'ACTION.BACK' | translate }}
                </md-tooltip>
                <md-icon class="material-icons">arrow_back</md-icon>
            </md-button>
        </div>
    </div>
    
   <md-list>
       <md-list-item class="md-2-line" ng-repeat="entity in vm.entities track by entity._id">
            <md-icon class="material-icons" style="padding-top: 7px;">person</md-icon>
            <div class="md-list-item-text">
               <h3>{{::entity.student}}</h3>
               <p>{{::entity.value}}</p>
            </div>
            <md-button class="md-secondary md-icon-button md-primary md-hue-3">
                <md-icon class="material-icons">info</md-icon>
            </md-button>
           <md-divider></md-divider>
       </md-list-item>
   </md-list>

</hc-admin-layout>
