<md-dialog aria-label="Tokens">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ 'TOKEN.ENTITY_PLURAL' | translate }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.donwloadTokens(vm.tokens)">
                <md-tooltip md-direction="bottom">
                    {{ 'ACTION.DOWNLOAD.PDF' | translate }}
                </md-tooltip>
                <md-icon class="material-icons">file_download</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.printTokens(vm.tokens)">
                <md-tooltip md-direction="bottom">
                    {{ 'ACTION.PRINT' | translate }}
                </md-tooltip>
                <md-icon class="material-icons">print</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.close()">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout-margin class="md-dialog-content">
            <md-table-container>
                <table md-table class="table">
                    <thead md-head>
                        <tr md-row>
                            <th md-column>{{ 'TOKEN.STUDENT' | translate }}</th>
                            <th md-column>{{ 'TOKEN.VALUE' | translate }}</th>
                            <th md-column>{{ 'TEST.GRADE' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="token in vm.tokens track by token._id">
                            <td md-cell>{{::token.student}}</td>
                            <td md-cell>{{::token.value}}</td>
                            <td md-cell>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </md-dialog-content>
</md-dialog>
