<div layout="row" flex class="admin-container">

    <hc-menu></hc-menu>

    <md-content flex>

        <div layout="column" layout-fill class="admin-content-wrapper">

            <hc-toolbar></hc-toolbar>

            <div layout="row">
                <md-whiteframe layout-padding flex="80" flex-offset="10" layout="column" class="md-whiteframe-z2 admin-content">

                    <div layout="row" class="content-header">
                        <div flex>
                            <h3 class="md-headline">
                                Questões
                            </h3>
                        </div>
                    </div>
                    <form layout="row" layout-fill class="content-form">

                        <div flex="70" flex-offset="15">
                            <md-autocomplete
                                    ng-disabled="disabled"
                                    md-search-text="searchText"
                                    md-items="theme in querySearch(searchText)"
                                    md-item-text="theme.name"
                                    placeholder="Selecione um conteúdo"
                                    md-selected-item="selectedTheme"
                                    md-input-name="theme"
                            >
                                <md-item-template>
                                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{theme.name}}</span>
                                </md-item-template>

                                <md-not-found>
                                    Não foi encontrado nenhum conteúdo contendo "{{searchText}}".
                                </md-not-found>

                            </md-autocomplete>
                        </div>

                    </form>

                </md-whiteframe>
            </div>

        </div>

    </md-content>

</div>