<hc-admin-layout layout="row" flex>

    <div layout="row" class="content-header">
        <div flex="90">
            <h3 class="md-headline">
                Questões
            </h3>
        </div>
        <div flex>
            <md-button class="header-button" href="/admin/questions">
                Voltar
            </md-button>
        </div>
    </div>

    <form layout="row" class="content-form" name="questionNewForm" ng-submit="vm.save(vm.entity)">

        <div layout="column" flex="70" class="form-container" layout-fill>

            <md-autocomplete
                md-search-text="vm.searchText"
                md-items="theme in vm.querySearch(vm.searchText)"
                md-item-text="theme.name"
                placeholder="Selecione um conteúdo"
                md-selected-item="vm.entity.theme"
                md-input-name="theme"
                md-menu-class="autocomplete-theme-template"
                md-floating-label="Conteúdo"
                md-require-match
                required
            >
                <md-item-template>
                   <span class="item-title">
                        <md-icon class="material-icons">class</md-icon>
                        <span md-highlight-text="vm.searchText" md-highlight-flags="i">{{theme.name}}</span>
                    </span>
                </md-item-template>
                <div ng-messages="questionNewForm.theme.$error">
                    <div ng-message="required">Você deve escolher um conteúdo.</div>
                    <div ng-message="md-require-match">Escolha um conteúdo existente.</div>
                </div>
                <md-not-found>
                    Não foi encontrado nenhum conteúdo contendo "{{vm.searchText}}".
                </md-not-found>
            </md-autocomplete>

            <md-input-container>
                <label>Enunciado</label>
                <textarea rows="5" ng-model="vm.entity.name" name="name" required ng-minlength="2"></textarea>
                <div ng-messages="questionNewForm.name.$error">
                    <div ng-message="required">Este campo é obrigatório.</div>
                    <div ng-message="minlength">O enunciado deve ter mais de 2 caracteres.</div>
                </div>
            </md-input-container>

            <div class="options-container">
                <md-radio-group ng-model="vm.entity.correctOption" ng-required="true">
                    <div class="radio-group-rows">
                        <div flex layout="row" ng-repeat="option in vm.entity.options track by $index" layout-padding layout-align="start center" class="radio-group-row">
                            <md-input-container flex="65" class="md-icon-float md-block">
                                <label>Alternativa {{::$index + 1}}</label>
                                <md-icon class="material-icons">view_headline</md-icon>
                                <textarea rows="2" required ng-minlength="2" ng-maxlength="255" name="option{{::$index}}" ng-model="vm.entity.options[$index].text" ></textarea>
                                <div ng-messages="questionNewForm['option' + $index].$error">
                                    <div ng-message="required">Este campo é obrigatório</div>
                                    <div ng-message="minlength">Este campo deve ter ao menos 2 caracteres.</div>
                                    <div ng-message="minlength">Este campo deve ter no máximo 255 caracteres.</div>
                                </div>
                            </md-input-container>
                            <span flex></span>
                            <md-radio-button flex="30" class="md-primary" md-theme="success" value="{{::$index + 1}}">
                                Alternativa correta?
                            </md-radio-button>
                        </div>
                    </div>
                </md-radio-group>
            </div>

            <div layout="center center" layout-padding layout-margin>
                <div layout="row" flex>
                    <md-button href="/admin/questions" class="md-warn md-raised" flex="30" flex-offset="20">
                        <md-icon class="material-icons">close</md-icon>
                        Cancelar
                    </md-button>
                    <md-button type="submit" class="md-raised md-primary" flex="30" ng-disabled="questionNewForm.$invalid || vm.processing">
                        <md-icon class="material-icons">send</md-icon>
                        Cadastrar
                    </md-button>
                </div>
            </div>

        </div>
    </form>

</hc-admin-layout>
