.admin-login-wrapper {
    width: 400px;
    margin: 10% auto;
}

.admin-login-form {
    padding: 16px;
}

.admin-login-actions {
    margin-top: 16px;
}

.auth-action-button {
    float: right;
}

.auth-action-button.submit {
    margin-left: 5px;
}
