<hc-admin-layout layout="row" flex>

    <div layout="row" class="content-header">
        <div flex="90">
            <h3 class="md-headline">
                Disciplinas
            </h3>
        </div>
        <div flex>
            <md-button class="header-button" href="/admin/disciplines">
                Voltar
            </md-button>
        </div>
    </div>

    <form layout="row" class="content-form" name="disciplineEditForm" ng-submit="vm.update(vm.entity)">

        <div layout="column" flex="70" class="form-container" layout-fill>

            <md-input-container>
                <label>Nome</label>
                <input type="text" ng-model="vm.entity.name" name="name" required ng-minlength="2" ng-maxlength="255">
                <div ng-messages="disciplineEditForm.name.$error">
                    <div ng-message="required">Este campo é obrigatório.</div>
                    <div ng-message="minlength">Este campo deve ter ao menos 2 caracteres.</div>
                    <div ng-message="maxlength">Este campo deve ter no máximo 255 caracteres.</div>
                </div>
            </md-input-container>

            <div layout="row">
                <md-input-container class="md-block" flex="50">
                    <label>Ano</label>
                    <input type="number" ng-model="vm.entity.year" name="year" required ng-minlength="1" ng-maxlength="4" ng-pattern="/^[0-9]{4}$/" ng-min="1900">
                    <div ng-messages="disciplineEditForm.year.$error">
                        <div ng-message="required">Este campo é obrigatório.</div>
                        <div ng-message="minlength">Este campo deve ter ao menos 1 caractere.</div>
                        <div ng-message="maxlength">Este campo deve ter no máximo 4 caracteres.</div>
                        <div ng-message="pattern">Informe um ano válido.</div>
                        <div ng-message="min">O ano informado deve ser posterior à 1900.</div>
                    </div>
                </md-input-container>
                <span flex></span>
                <md-input-container class="md-block" flex="45">
                    <label>Semestre</label>
                    <md-select ng-model="vm.entity.semester" name="semester" ng-disabled="disciplineEditForm.year.$invalid" required>
                        <md-option ng-value=""><em>Selecione uma opção</em></md-option>
                        <md-option ng-value="1">{{vm.entity.year}}/1</md-option>
                        <md-option ng-value="2">{{vm.entity.year}}/2</md-option>
                    </md-select>
                    <div ng-messages="disciplineEditForm.semester.$error">
                        <div ng-message="required">Este campo é obrigatório.</div>
                    </div>
                </md-input-container>
            </div>

            <h3 class="md-headline">Alunos</h3>

            <div layout="row" flex="10" layout-align="center center" ng-repeat="student in vm.entity.students track by $index">
                <md-input-container class="md-block" flex>
                    <label>Aluno</label>
                    <input type="text" ng-model="student.name" name="studentName{{$index}}" placeholder="Nome do aluno" required ng-minlength="2" ng-maxlength="255"/>
                    <div ng-messages="disciplineEditForm['studentName' + $index].$error">
                        <div ng-message="required">Este campo é obrigatório.</div>
                        <div ng-message="minlength">Este campo deve ter ao menos 2 caracteres.</div>
                        <div ng-message="maxlength">Este campo deve ter no máximo 255 caracteres.</div>
                    </div>
                </md-input-container>
                <div>
                    <md-button class="md-icon-button md-primary" ng-click="vm.addStudentField()">
                        <md-icon class="material-icons">add</md-icon>
                    </md-button>
                    <md-button class="md-icon-button md-warn" ng-click="vm.removeStudentField($index)">
                        <md-icon class="material-icons">delete_forever</md-icon>
                    </md-button>
                </div>
            </div>

            <div layout="center center" layout-padding layout-margin>
                <div layout="row" flex>
                    <md-button href="/admin/disciplines" class="md-warn md-raised" flex="30" flex-offset="20">
                        <md-icon class="material-icons">close</md-icon>
                        Cancelar
                    </md-button>
                    <md-button type="submit" class="md-raised md-primary" flex="30" ng-disabled="disciplineEditForm.$invalid || vm.processing">
                        <md-icon class="material-icons">send</md-icon>
                        Atualizar
                    </md-button>
                </div>
            </div>

        </div>
    </form>

</hc-admin-layout>
