.admin-register-wrapper {
    width: 400px;
    margin: 10% auto;
}

.admin-register-form {
    padding: 16px;
}

.admin-register-actions {
    margin-top: 16px;
}

.admin-register-button {
    float: right;
}

.admin-register-button.submit {
    margin-left: 5px;
}
