<hc-admin-layout layout="row" flex>

    <div layout="row" class="content-header">
        <div flex="95">
            <h3 class="md-headline">
                {{ 'USER.PROFILE' | translate }}
            </h3>
        </div>
        <div flex>
            <md-button class="md-fab md-primary" href="/admin/disciplines">
                <md-tooltip md-direction="left">
                    {{ 'ACTION.BACK' | translate }}
                </md-tooltip>
                <md-icon class="material-icons">arrow_back</md-icon>
            </md-button>
        </div>
    </div>

    <form layout="row" class="content-form" name="profileForm">
        <div layout="column" flex="70" class="form-container" layout-fill>
            
            <md-input-container class="md-icon-float md-block">
                <label>{{ 'USER.NAME' | translate }}</label>
                <md-icon class="material-icons">person</md-icon>
                <input type="text" placeholder="{{ 'USER.NAME' | translate }}" ng-model="vm.entity.name" name="name" required ng-minlength="2" ng-maxlength="255"/>
                <div ng-messages="profileForm.name.$error">
                    <div ng-message="required">{{ 'VALIDATION.REQUIRED' | translate }}</div>
                    <div ng-message="minlength">{{ 'VALIDATION.MIN_LENGTH' | translate:'{ value: 2 }' }}</div>
                    <div ng-message="maxlength">{{ 'VALIDATION.MAX_LENGTH' | translate:'{ value: 255 }' }}</div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>{{ 'USER.EMAIL' | translate }}</label>
                <md-icon class="material-icons">email</md-icon>
                <input type="email" placeholder="{{ 'USER.EMAIL' | translate }}" ng-model="vm.entity.email" name="email" required />
                <div ng-messages="profileForm.email.$error">
                    <div ng-message="required">{{ 'VALIDATION.REQUIRED' | translate }}</div>
                    <div ng-message="email">{{ 'VALIDATION.EMAIL' | translate }}</div>
                </div>
            </md-input-container>

            <div layout="center center" layout-padding layout-margin>
                <div layout="row" flex>
                    <md-button href="/admin/dashboard" class="md-warn md-raised" flex="30" flex-offset="20">
                        <md-icon class="material-icons">close</md-icon>
                        {{ 'ACTION.CANCEL' | translate }}
                    </md-button>
                    <md-button type="submit" class="md-raised md-primary" flex="30" ng-disabled="profileForm.$invalid || vm.processing">
                        <md-icon class="material-icons">send</md-icon>
                        {{ 'ACTION.UPDATE' | translate }}
                    </md-button>
                </div>
            </div>

        </div>
    </form>

</hc-admin-layout>
