<div layout="row" flex-gt-md="80" flex-offset-gt-md="20" class="admin-container">

    <hc-menu></hc-menu>

    <md-content flex>

        <div layout="column" layout-fill class="admin-content-wrapper">

            <hc-toolbar></hc-toolbar>

            <div layout="row">
                <md-whiteframe layout-padding flex="80" flex-offset="10" layout="column" class="md-whiteframe-z2 admin-content">
                    <div layout="row" class="content-header">
                        <div flex>
                            <h3 class="md-headline">
                                Meu perfil
                            </h3>
                        </div>
                    </div>
                    <div layout="row" class="">
                        <p>
                            Nome: {{entity.name}}
                        </p>
                        <p>
                            Email: {{entity.email}}
                        </p>
                    </div>

                </md-whiteframe>
            </div>

        </div>

    </md-content>

</div>